body {
  background-color: #ffffff;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0 auto;
  max-width: 1024px;
}

.nav-links {
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-flex;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 20px;
  align-items: center
}

.main-title {
  font-family: Helvetica Neue;
	font-size: 4em;
	font-weight: 100;
  color: black;
  text-align: center;
}

.bio {
  text-align: center;
  padding: 0px
}

.blog-container {
  display: flex;
}

.blog {
  display: flex; /* this will get all child elements to be placed nicely in columns */
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px; /* overwrites the default padding for a section */
}
